
<div class="evento-detalle-container" style="height: 99%; overflow-y: auto; " *ngIf="evento">
  <div style="position: relative;  width: 100%;">
    
    @if(esCreador){
      <button class="button" (click)="mostrarPepinillo()" style="position: absolute; top: 10px; right: 10px; z-index: 1000;">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="35" 
          viewBox="0 0 20 20" 
          height="35" 
          fill="none" 
          class="svg-icon">
          <g stroke-width="1.5" stroke-linecap="round" stroke="#333">
            <circle r="4.0" cy="10" cx="10"></circle>
            <path fill-rule="evenodd" 
              d="m8.39079 2.80235c.53842-1.51424 2.67991-1.51424 3.21831-.00001.3392.95358 1.4284 1.40477 2.3425.97027 1.4514-.68995 2.9657.82427
               2.2758 2.27575-.4345.91407.0166 2.00334.9702 2.34248 1.5143.53842 1.5143 2.67996 0 3.21836-.9536.3391-1.4047 1.4284-.9702 2.3425.6899
                1.4514-.8244 2.9656-2.2758 2.2757-.9141-.4345-2.0033.0167-2.3425.9703-.5384 1.5142-2.67989 1.5142-3.21831 
                0-.33914-.9536-1.4284-1.4048-2.34247-.9703-1.45148.6899-2.96571-.8243-2.27575-2.2757.43449-.9141-.01669-2.0034-.97028-2.3425-1.51422-.5384-1.51422-2.67994.00001-3.21836.95358-.33914 
                1.40476-1.42841.97027-2.34248-.68996-1.45148.82427-2.9657 2.27575-2.27575.91407.4345 2.00333-.01669 2.34247-.97026z" 
              clip-rule="evenodd">
            </path>
          </g>
        </svg>
        <span class="lable"></span>
      </button>
    }

    <h2>{{ evento.titulo }}</h2>
    <div class="image-wrapper" *ngIf="evento.imagen_portada">
      <img class="imgPrincipal"
        [src]="evento.imagen_portada"
        alt="Portada del evento"
      />
    </div>
    <p style="width: 300px; overflow-wrap: break-word; white-space: normal;">
      <strong>{{ textosDetalleEvento?.['descripcionLabel'] }}</strong>
    </p>
    <div style="display: inline-block; max-width: 100%;">
      <p style="width: 100%; overflow-wrap: anywhere; white-space: normal; word-break: break-word;">
        {{ evento.descripcion }}
      </p>
    </div>
    <p><strong>{{ textosDetalleEvento?.['categoriaLabel'] }}</strong> {{ evento.categoria }}</p>
    <p><strong>{{ textosDetalleEvento?.['direccionLabel'] }}</strong> {{ evento.direccion }}</p>
    <p><strong>{{ textosDetalleEvento?.['comienzaLabel'] }}</strong> {{ evento.fecha_inicio | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>{{ textosDetalleEvento?.['finalizaLabel'] }}</strong> {{ evento.fecha_fin | date: 'dd/MM/yyyy HH:mm' }}</p>
    <div class="creador-info" (click)="goToPerfil(evento.nombre_creador_usuario)">
      <strong>{{ textosDetalleEvento?.['creadoPorLabel'] }}</strong>
      <img
        
        [src]="evento.creador_profile_image"
        alt="Foto de perfil"
        width="30"
      />
      {{ evento.nombre_creador_usuario }}
    </div>

    @if(evento.estado_id != 1 && evento.esta_inscrito == 1){
      <div class="evento-acciones">
        <button (click)="darLike()">{{ textosDetalleEvento?.['likeBoton'] }} ({{ evento.total_likes }})</button>
        <button class="dislike" (click)="darDislike()">{{ textosDetalleEvento?.['dislikeBoton'] }} ({{ evento.total_dislikes }})</button>
      </div>
    } @else {
      <div class="evento-acciones">
        <p>{{ textosDetalleEvento?.['participantesLikeDislikeParrafo'] }}</p>
      </div>
    }

    @if(evento.estado_id == 1 || evento.estado_id == 2){
      @if(usuarioLogueadoId){
        <div *ngIf="usuarioLogueadoId" class="inscripcion-acciones">
        <button *ngIf="!evento.esta_inscrito" (click)="confirmInscripcion(evento.estado_id, evento.fecha_fin)">{{ textosDetalleEvento?.['inscribirseBoton'] }}</button>
        <button *ngIf="evento.esta_inscrito" (click)="desinscribirse()">{{ textosDetalleEvento?.['desinscribirseBoton'] }}</button>
        <p *ngIf="evento.esta_inscrito">{{ textosDetalleEvento?.['inscritoParrafo'] }}</p>
      </div>
      }
    }

    <app-mapa [coords]="eventoCoords"></app-mapa>

    <div class="comentarios-section" *ngIf="usuarioLogueadoId">
      <h3>{{ textosDetalleEvento?.['comentariosTitulo'] }}</h3>
      <div class="nuevo-comentario">
          <h4>{{ textosDetalleEvento?.['nuevoComentarioTitulo'] }}</h4>

          <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2em;">
            <textarea [(ngModel)]="nuevoComentario"  placeholder="{{ textosDetalleEvento?.['nuevoComentarioPlaceholder'] }}" class="coment-text"></textarea>
            <!-- <button (click)="postComment()">{{ textosPostComents?.['publicarComentarioBoton'] }}</button> -->
            <button class="animated-button" (click)="agregarComentario()">
              <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
              </svg>
              <span class="text">P O S T</span>
              <span class="circle"></span>
              <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
              </svg>
            </button>
            
          
          </div>
      </div>

      <div class="comentarios-listado" *ngIf="comentarios.length > 0; else noComentarios">
          <div class="comentario" *ngFor="let comentario of comentarios">
              
              @if(commentBeingEditedId !== comentario.id;){
                <div >
                  <p ><strong>{{ comentario.nombre }}:</strong>  {{ comentario.texto }}</p>
                  <div style="display: flex; justify-content: space-between; align-items: center;">
                    <small>{{ comentario.fecha_creacion | date: 'medium' }}</small>
                    @if(comentario.usuario_id === userIdLogueado){
                    <div style="display:flex; flex-direction:row; gap: 1em;">
                        <button class="button-edit" (click)="enableEditComment(comentario.id, comentario.texto)">
                        <svg viewBox="0 0 438 502" class="svgIcon">
                          <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 
                          10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 
                          27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 
                          452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 
                          67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 
                          0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                          </path>
                        </svg>
                      </button>
        
                      <button class="button-delete" (click)="confirmDeleteCommentEvento(comentario.id)">
                        <svg viewBox="0 0 448 512" class="svgIcon">
                          <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7
                           0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 
                           128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                          </path>
                        </svg>
                      </button>
                    </div>
                  } 
                  </div>
                  
                  
                    <div>
                      
                  </div>
                 
                  
              </div>
              
              } @else {
                  <div class="edit-comentario" style="display: flex; justify-content: space-between;">
                        <div style="display: flex; align-items: center; width: 90%; gap: 5px;">
                          <strong> {{ comentario.nombre }}:</strong>
                          <textarea [(ngModel)]="editText" class="coment-text"></textarea>
                        </div>
                          <div style="display:flex; flex-direction:row; gap: 1em;">
                            <button class="button-edit" (click)="saveEditedComment(comentario.id)">
                            <svg viewBox="0 0 18 16" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 24px; height: 24px;">
                              <path d="M13.707 4.293l-6 6-3-3" />
                            </svg>
                          </button>
            
                          <button class="button-delete" (click)="cancelEditComment()">
                            <svg viewBox="0 0 448 512" class="svgIcon">
                              <svg viewBox="0 0 16 16" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" style="width: 28px; height: 28px;">
                                <path d="M2 2l12 12M2 14L14 2" />
                              </svg>
                            </svg>
                          </button>

                      </div>
                  </div>
              }
          </div>
      </div>
      <ng-template #noComentarios>
          <p>{{ textosDetalleEvento?.['noComentariosParrafo'] }}</p>
      </ng-template>
    </div>
    <div class="comentarios-section" *ngIf="!usuarioLogueadoId">
        <h3>{{ textosDetalleEvento?.['comentariosTitulo'] }}</h3>
        <p>{{ textosDetalleEvento?.['loginParaComentarParrafo'] }}</p>
        <div class="comentarios-listado" *ngIf="comentarios.length > 0; else noComentarios">
            <div class="comentario" *ngFor="let comentario of comentarios">
                <p><strong>Usuario {{ comentario.user }}:</strong> {{ comentario.texto }}</p>
                <small>{{ comentario.fecha_creacion | date: 'medium' }}</small>
            </div>
        </div>
        <ng-template #noComentarios>
            <p>{{ textosDetalleEvento?.['noComentariosParrafo'] }}</p>
        </ng-template>
    </div>
  </div>
</div>

<div class="evento-detalle-container" *ngIf="!evento && eventoId > 0">
  <p>{{ textosDetalleEvento?.['cargandoEventoParrafo'] }}</p>
</div>

<div class="evento-detalle-container" *ngIf="!evento && eventoId === 0">
  <p>{{ textosDetalleEvento?.['noEventoSeleccionadoParrafo'] }}</p>
</div>

<app-modal-admin-evento

  [isVisible]="mostrarModalAdmin"
  (modalClosed)="mostrarModalAdmin = false"
  (eventoId)="eventoId"
  (recargarEvento)="actualizar($event)"
></app-modal-admin-evento>

<app-confirmation
  *ngIf="showConfirmationDialog"
  [message]="confirmMessage"
  [confirmButtonText]="confirmButtonText"
  [cancelButtonText]="cancelButtonText"
  (confirmed)="onConfirmationResult($event)"
></app-confirmation>
<app-confirmation
  *ngIf="showConfirmationDialog2"
  [message]="confirmMessage2"
  [confirmButtonText]="confirmButtonText2"
  [cancelButtonText]="cancelButtonText2"
  (confirmed)="onConfirmationResultInscription($event)"
></app-confirmation>
<app-alert
  *ngIf="showAlert"
  [text]="alertText"
  [backgroundColor]="alertColor"
>
</app-alert>