.eventos-inscritos-pendientes-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow-y: auto; /* Habilita el scroll vertical cuando sea necesario */
  height: 20%; /* O la altura máxima que desees para el contenedor */
}

.eventos-inscritos-pendientes-container h3 {
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-size: 1.4em;
  
}

.eventos-grid {
  display: flex; /* Cambia a flex para disposición en fila */
  flex-direction: column; /* Apila los elementos en columna */
  gap: 10px; /* Reduce el gap para un espaciado vertical más compacto */
}

.evento-card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer; /* Indica que es clickable */
  transition: transform 0.2s ease-in-out; /* Animación al pasar el ratón */
  width: 90%; /* Asegura que cada tarjeta ocupe el ancho completo del contenedor */
}

.evento-card:hover {
  transform: scale(1.01); /* Reduce ligeramente el escalado para la disposición vertical */
}

.evento-card h4 {
  color: #333;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.evento-card span.evento-fecha-inicio {
  color: #777;
  font-size: 0.9em;
}

.eventos-inscritos-pendientes-container p {
  color: #777;
  font-style: italic;
}